@using WebUI.Areas.Admin.Models.ViewModels

@model VacancyViewModel
<!-- Start post Area -->
<h3>Yeni elan</h3>
<br />
<div class="card-body">
    <form class="forms-sample" method="post" asp-controller="vacancy" asp-action="add">
        <div class="row">
            <div class="col-lg-12 form-group">
                <label for="" asp-for="VacancyModel.Position">Vəzifə</label>
                <input asp-for="VacancyModel.Position" class="common-input mb-20 form-control" required="" type="text">
                <span asp-validation-for="VacancyModel.Position"></span>

                <label>Kateqoriya</label>
                @Html.DropDownListFor(x => x.VacancyModel.CategoryId, new SelectList(Model.Categories, "Value", "Text"), new { @class = "common-input mb-20 form-control" })
                @Html.ValidationMessageFor(x => x.VacancyModel.CategoryId, "", new { @class = "text-danger" })

                <label for="" asp-for="VacancyModel.Company">Şirkət</label>
                <input asp-for="VacancyModel.Company" class="common-input mb-20 form-control" required="" type="text">
                <span asp-validation-for="VacancyModel.Company"></span>

                <label for="" asp-for="VacancyModel.Age">Yaş</label>
                <input asp-for="VacancyModel.Age" placeholder="Məs. 22-25" class="common-input mb-20 form-control" required="" type="text">
                <span asp-validation-for="VacancyModel.Age"></span>

                <label for="" asp-for="VacancyModel.Salary">Maaş</label>
                <input asp-for="VacancyModel.Salary" placeholder="Məs. 1000-1500 AZN. Müsahibə əsasında olarsa müsahibə əsasında yazmağınız kifayet edir" class="common-input mb-20 form-control" required="" type="text">
                <span asp-validation-for="VacancyModel.Salary"></span>

                <label>Təhsil</label>
                @Html.DropDownListFor(x => x.VacancyModel.EducationId, new SelectList(Model.Educations, "Value", "Text"), new { @class = "common-input mb-20 form-control" })
                @Html.ValidationMessageFor(x => x.VacancyModel.EducationId, "", new { @class = "text-danger" })

                <label>Şəhər</label>
                @Html.DropDownListFor(x => x.VacancyModel.CityId, new SelectList(Model.Cities, "Value", "Text"), new { @class = "common-input mb-20 form-control" })
                @Html.ValidationMessageFor(x => x.VacancyModel.CityId, "", new { @class = "text-danger" })

                <label>Təcrübə</label>
                @Html.DropDownListFor(x => x.VacancyModel.ExperienceId, new SelectList(Model.Experiences, "Value", "Text"), new { @class = "common-input mb-20 form-control" })
                @Html.ValidationMessageFor(x => x.VacancyModel.ExperienceId, "", new { @class = "text-danger" })

                <label asp-for="VacancyModel.Age">Email</label>
                <input asp-for="VacancyModel.Email" placeholder="" class="common-input mb-20 form-control" required="" type="text">
                <span asp-validation-for="VacancyModel.Email"></span>

                <label asp-for="VacancyModel.PhoneNumber">Telefon</label>
                <input asp-for="VacancyModel.PhoneNumber" placeholder="" class="common-input mb-20 form-control" required="" type="text">
                <span asp-validation-for="VacancyModel.PhoneNumber"></span>

                <label asp-for="VacancyModel.EndDate">Bitmə tarixi</label>
                <input asp-for="VacancyModel.EndDate" id="todayDate" placeholder="" class="common-input mb-20 form-control" required="" type="date">
                <span asp-validation-for="VacancyModel.EndDate"></span>

                <label asp-for="VacancyModel.JobInformation">İş haqqında məlumat</label>
                <textarea asp-for="VacancyModel.JobInformation" class="common-textarea mt-10 form-control"></textarea>
                <span asp-validation-for="VacancyModel.JobInformation"></span>

                <label asp-for="VacancyModel.Requirements">Tələblər</label>
                <textarea asp-for="VacancyModel.Requirements" class="common-textarea mt-10 form-control"></textarea>
                <span asp-validation-for="VacancyModel.Requirements"></span>
                <br />

                <button type="submit" class="btn btn-info">Təstiq et</button>
                <div class="mt-20 alert-msg" style="text-align: left;"></div>
                <br />
            </div>
        </div>
    </form>
</div>
<!-- End post Area -->

<script>
    const today = new Date().toISOString().substr(0, 10);
    document.getElementById("todayDate").value = today;
</script>
